@use "variables" as*; 

/* Configuración menú principal */

header {
    nav {
        ul {
        display: grid;
        gap: 1px;
        justify-items: center;
        list-style: none;
        background-image: url(../imagenes/caps\ frente2.jpg);
        background-size: cover;
        background-position:center;
        height: 100px;
          
        .menus {
                width: 15px;
                image-orientation:inherit;
                }
                                                      
        a { 
               font-size: .5rem;
               background-color: rgba(121, 231, 218, 0.877);
               color: $negro;
               text-decoration: none;
               letter-spacing: 1px;
               border: $celestes2 double 3px;
               padding: 4px;
               border-radius: 8px;
               text-align: center;
               
               }
            }
        }
    }

    



 


