@use "variables" as*; 

/** Configuraciones de secciones principales**/

section {
    .p-inicio2 { margin: 0;
        padding: 0 0 2% 0;
        }
}

.menus-paginas { color: $negro;
    background-color: $transparente;
    margin: 0 25%;         
    }


